import "variables";

/* Components */
import "components/form_field";

/* Sections */
import "section/registration_form";

/* Pages / Views */
import "pages/registration";

/* Colors */
$paragraph-color: #000000;
$brand-main-color: #ff0000;

/* Font sizes */
$paragraph-font-size: 16px;

/* Fonts */
$brand-font: "Open Sans", Helvetica, Arial;
$paragraph-font: "Open Sans", Helvetica, Arial;