.sidebar {
  background-color: $sidebar-color;


  .sidebar-menu {
    padding: 15px 0;
    list-style: none;
    text-align: left;

    .menu-list {
      a {
        display: block;
        padding-left: 15px;
        text-decoration: none;
        color: $sidebar-text-color;
        font-weight: $font-light;
        line-height: 46px;
        border-left: 5px solid $sidebar-color;

        &:hover {
          color: $white-color;
          background-color: $dark-gray-color;
          border-left: 5px solid $orange-color;
        }
      }

      .desc-link {
        vertical-align: middle;
        padding-left: 15px;
      }
    }
  }

  .sidebar-manager {
    border-top: 1px solid $dark-gray-color;
    padding: 15px;

    p {
      @extend %h2;
      font-size: 14px;
      color: #808080;
    }

    .manager-avatar {
      display: flex;
      align-items: center;

      p {
        padding-left: 10px;
        color: $href-color;
        font-weight: $font-light;
        cursor: pointer;

        &:hover {
          color: $light-orange-color;
        }
      }
    }
  }
}